<%- include("./partials/header") %>


    <nav class="navbar navbar-light bg-light">
        <a style="color: red; font-weight: 700;" class="navbar-brand" href="/">Todo App</a>
    </nav>

    <div class="container mt-5">
        <form action="/add/todo" method="POST" class="d-flex">
            <input type="text" name="todo" id="" class="form-control" placeholder="Enter Todo...">

            <input type="submit" value="ADD Todo " class="btn btn-md btn-primary mx-2">
        </form>


        <ul class="list-group my-5  ">
            
            <%todo.forEach(i=> { %>


                <li class="list-group-item d-flex">
                    <%= i.todo %>
                    <a style="margin-left: auto;" href="/delete/one/<%= i._id%>" class="btn btn-danger btn-sm ">Delete</a>
                </li>



            <%})%>

        </ul>

    </div>

  


    <div class = "container">
        <div class = "d-flex justify-content-center">
            <a href="/delete/all" class="btn btn-warning btn-sm mx-5">Delete ALL</a>
        </div>
    </div>
    <%- include("./partials/footer") %>